body
{
  margin: 100px;
  font-family: Garamond;
  color: rgb(16, 11, 75);
  background-color: rgba(182, 206, 250, 0.808);
  font-size: 200%;
  max-width: 1200px;
  margin: 0 auto;
}
.centered-rectangle {
  background-color: rgba(152, 243, 223, 0.767);
  width: 100%;
  height: 50%;
  margin: 30px;
  box-sizing: border-box;
  border: 3px solid rgb(7, 77, 47);
  padding: 20px;
  margin: auto;
}
header 
{
  font-family: garamond;
  font-size: 120%;
  text-align: center;
}
ol
{
  list-style-type: none;
}
a {
  text-decoration: none;
  color: rgb(17, 77, 64);
}
a:hover {
  color: rgb(243, 241, 245);
}
h1, h2
{
  color: rgb(5, 63, 27);
  font-size: 100%;
  font-family: Trebuchet MS;
  background-color: rgba(44, 117, 74, 0.685);
  text-align: center;
}
figure {
  text-align: center;
}
h3 {
  text-align: center;
}
.custom-list {
  list-style-type: disc;
}
footer {
  text-align: center;
  font-size: 90%;
}
.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(125,154,104);
  width: 450px;
  max-width: 100%;
  padding: 15px 10px;
  border: 3px solid #15c550;
  border-radius: 5px;
  margin: 20px auto;
}
#date {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}
#clock {
  font-size: 35px;
  font-weight: 550;
  align-items: center;
}
.slideshow-container {
  text-align: center;
}
blockquote {
  font-style: italic;
  margin: 20px;
  padding: 10px;
  border-left: 4px solid #ccc;
  color: #04040e;
}
.pull-quote {
  font-size: 1.5em;
  background-color:rgb(213, 252, 235);
  border-left: 4px solid black;
  padding: 15px;
  margin: 20px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.gallery div {
  border: 6px solid #f3f5f4a4;
}
.gallery img {
  width: 100%;
  height: 100%;
}
.video {
  display: flex;
  justify-content: center;
  align-items: center;
}
.yoshi-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
}
.yoshi-gallery div {
  border: 6px solid #f8a545a4;
}
.yoshi-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.shelley-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
}
.shelley-gallery div {
  border: 6px solid #918980a4;
}
.shelley-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.marcella-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
}
.marcella-gallery div {
  border: 6px solid #251806ee;
}
.marcella-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}